name: Web Calculator CI/CD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-test:
    name: Сборка и тестирование
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - name: Restore and build
        run: |
          dotnet restore WebCalculator.sln
          dotnet build WebCalculator.sln --configuration Release --no-restore
      - name: Test
        run: dotnet test WebCalculator.sln --configuration Release --verbosity normal
