name: Web Calculator CI/CD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-test:
    name: Сборка и тестирование
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - name: Restore dependencies
        run: |
          dotnet restore src/WebCalculator/WebCalculator.csproj
          dotnet restore tests/WebCalculator.Tests/WebCalculator.Tests.csproj
      - name: Build
        run: dotnet build src/WebCalculator/WebCalculator.csproj --configuration Release --no-restore
      - name: Test
        run: dotnet test tests/WebCalculator.Tests/WebCalculator.Tests.csproj --verbosity normal --no-build
